$pureBlack: #000000;
$lightGrey: #DFDFDF;
$pureWhite: #000000;
$font: 'DM Sans',
sans-serif;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font;
}

//----------------Navbar Section --------------
.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    .navbar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        max-width: 1500px;
        .navbar-logo {
            @media screen and (max-width: 756px) {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(25%, 200%);
            }
            img {
                align-self: start !important;
            }
            text-align: start;
            margin-left: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        .menu-icon {
            display: none;
            @media screen and (max-width: 756px) {
                display: block;
                position: absolute;
                top: 40;
                right: 40px;
                font-size: 1.8rem;
                cursor: pointer;
            }
            .fa-times,
            .fa-bars {
                color: black;
            }
        }
        .nav-menu {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: 10px;
            list-style: none;
            text-align: center;
            width: 70vw;
            justify-content: center;
            @media screen and (max-width: 756px) {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 45vh;
                position: absolute;
                top: 80px;
                left: 100%;
                opacity: 1;
                transition: all 0.5s ease;
                &.active {
                    background-color: #fff;
                    left: 0;
                    opacity: 1;
                    transition: all 0.5s ease;
                    z-index: 1;
                }
            }
            .nav-links {
                text-decoration: none !important;
                display: flex;
                align-items: center;
                padding: 0.5rem 1rem;
                height: 100%;
                @media screen and (max-width: 756px) {
                    text-align: center;
                    padding: 1.5rem;
                    width: 100%;
                    display: table;
                }
                &:hover {
                    border-bottom: 4px solid lightcoral;
                    transition: all 0.2s ease-out;
                    @media screen and (max-width: 756px) {
                        background-color: #fff;
                        color: #242424;
                    }
                }
                &-mobile {
                    display: none;
                }
            }
            .mobile-btn {
                cursor: pointer;
                display: block;
                text-align: center;
                margin: 0.5rem auto 2rem;
                border-radius: 4px;
                width: 80%;
                text-decoration: none;
                font-size: 1.5rem;
                background-color: #fff;
                color: #242424;
                padding: 14px 20px;
                border: 1px solid #242424;
                transition: all 0.3s ease-out;
                &:hover {
                    background: #242424;
                    color: white;
                    transition: 250ms;
                }
                @media screen and (min-width: 756px) {
                    display: none;
                }
            }
        }
        .desktop-btn {
            cursor: pointer;
            display: block;
            text-align: center;
            margin-right: 5%;
            width: 20%;
            text-decoration: none;
            font-size: 1rem;
            background-color: #242424;
            color: #fff;
            padding: 1% 3%;
            border: 1px solid #242424;
            transition: all 0.3s ease-out;
            &:hover {
                background: lightgray;
                border-color: lightgray;
                color: white;
                transition: 250ms;
            }
            @media screen and (max-width: 756px) {
                display: none;
            }
        }
    }
}

//------------------------------Home Intro Section-------------------
.intro-row {
    .img-col {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .text-col {
        padding: 12% 11% 15% 7%;
        h2 {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: normal;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            font-weight: normal;
            line-height: 2rem;
            margin-bottom: 20px;
        }
    }
}

.dark {
    background-color: black;
    color: white;
}

.reversed {
    @media screen and (min-width: 500px) {
        flex-direction: row-reverse
    }
}

//---------------------Cta section ----------------------
.cta-cont {
    border-left: 4px solid linear-gradient(to bottom, (#5A77FF), #BC7198, (#FFC593));
    img {
        @media screen and (min-width: 756px) {
            width: 100%;
        }
        position: absolute;
        z-index: -1;
    }
    .cta-content {
        padding: 4% 7%;
        height: 280px;
        h2 {
            color: white;
            font-weight: 400;
            font-size: 48px;
            @media screen and (min-width: 756px) {
                argin-right: 45%;
            }
        }
    }
}

//---------------------Footer Section -----------------------
.footer-cont {
    padding: 7%;
    background-color: black;
    color: white;
    @media screen and (max-width: 756px) {
        text-align: center;
    }
    .social-row {
        margin: 20px auto;
        @media screen and (min-width: 756px) {
            margin-top: 25%;
        }
        i {
            margin-right: 10px;
            font-size: 20px;
        }
        .faceb {
            &:hover {
                background: -webkit-linear-gradient(45deg, (#6028F1), (#63AFDB));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .yout {
            &:hover {
                background: -webkit-linear-gradient(45deg, (#D3205A), #FF5A5A);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .twitt {
            &:hover {
                background: -webkit-linear-gradient(45deg, (#27718A), (#65FFEB));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .pint {
            &:hover {
                background: -webkit-linear-gradient(45deg, (#DE3838), #F6C683);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .instag {
            &:hover {
                background: -webkit-linear-gradient(45deg, (#5A77FF), #BC7198, (#FFC593));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .footer-links {
        @media screen and (max-width: 756px) {
            margin-bottom: 45px;
        }
        p {
            text-decoration: none !important;
            color: white;
            font-size: 18px;
            margin: 12px auto;
        }
    }
    .copy-col {
        p {
            margin-top: 25px;
        }
    }
}