.btn {
    padding: 3% 35%;
    outline: none;
    font-family: 'Montserrat';
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: #000;
    ;
    color: #fff;
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
    max-height: 100px;
}

.btn--primary:hover {
    transition: all 0.3s ease-out;
    background: white;
    color: #000;
    border: 1px solid #000;
    transition: 250ms;
}

.btn--outline:hover {
    transition: all 0.3s ease-out;
    background-color: white;
    color: #000;
    transition: 250ms;
}

.btn--wide {
    padding: 12px 26px;
    font-size: 24px !important;
    width: 100%;
}